<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<ul class="tx-analytics-site-performance-list">
    <f:for each="{metrics}" as="metric">
        <li class="tx-analytics-site-performance-metric tx-analytics-site-performance-metric-{metric.tone}">
            <span class="tx-analytics-site-performance-icon tx-analytics-site-performance-icon-{metric.icon}" aria-hidden="true"></span>
            <span class="tx-analytics-site-performance-value-row">
                <strong class="tx-analytics-site-performance-value">{metric.value}</strong>
                <f:if condition="{metric.trend}">
                    <span class="tx-analytics-site-performance-trend tx-analytics-site-performance-trend-{metric.trendDirection}" title="{metric.trendLabel}">
                        <span class="tx-analytics-site-performance-trend-icon tx-analytics-site-performance-icon-arrow-trend-{metric.trendDirection}" aria-hidden="true"></span>
                        {metric.trend}
                    </span>
                </f:if>
            </span>
            <span class="tx-analytics-site-performance-label">{metric.label}</span>
            <div class="tx-analytics-site-performance-details">
                <p class="tx-analytics-site-performance-description">
                    <f:translate key="LLL:EXT:analytics/Resources/Private/Language/locallang.xlf:dashboardWidget.sitePerformance.description.{metric.tone}" />
                </p>
                <f:if condition="{metric.details}">
                    <dl class="tx-analytics-site-performance-details-data">
                        <div>
                            <dt><f:translate key="LLL:EXT:analytics/Resources/Private/Language/locallang.xlf:pagePerformance.tooltip.today" /></dt>
                            <dd>{metric.details.0}</dd>
                        </div>
                        <div>
                            <dt><f:translate key="LLL:EXT:analytics/Resources/Private/Language/locallang.xlf:pagePerformance.tooltip.yesterday" /></dt>
                            <dd>{metric.details.1}</dd>
                        </div>
                        <div>
                            <dt><f:translate key="LLL:EXT:analytics/Resources/Private/Language/locallang.xlf:pagePerformance.tooltip.peak" /></dt>
                            <dd>{metric.details.2}</dd>
                        </div>
                    </dl>
                </f:if>
                <f:if condition="{metric.sparkline}">
                    <div class="tx-analytics-site-performance-chart"><f:format.raw>{metric.sparkline}</f:format.raw></div>
                </f:if>
            </div>
        </li>
    </f:for>
</ul>
</html>
