<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<ol class="tx-analytics-top-pages-list">
    <f:for each="{pages}" as="page">
        <li class="tx-analytics-top-pages-row" data-tp-title="{page.title}" data-tp-count="{page.visitCount}" data-tp-share="{page.visitPercentOfTotal}" data-tp-trend="{page.trend}" data-tp-trend-direction="{page.trendDirection}">
            <span class="tx-analytics-top-pages-position">{page.position}</span>
            <a class="tx-analytics-top-pages-title" href="{page.url}" target="_blank" rel="noreferrer">{page.title}</a>
            <typo3-backend-progress-bar class="tx-analytics-top-pages-bar" value="{page.visitPercentOfTotal}" max="100"></typo3-backend-progress-bar>
            <span class="tx-analytics-top-pages-count">{page.visitCount}</span>
            <span class="tx-analytics-top-pages-trend tx-analytics-top-pages-trend-{page.trendDirection}">
                <f:if condition="{page.trend}">
                    <f:then>
                        <span>{page.trend}</span>
                        <span class="tx-analytics-top-pages-trend-icon tx-analytics-top-pages-icon-trend-{page.trendDirection}" aria-hidden="true"></span>
                    </f:then>
                    <f:else>
                        <span class="tx-analytics-top-pages-trend-icon tx-analytics-top-pages-icon-trend-neutral" aria-hidden="true"></span>
                    </f:else>
                </f:if>
            </span>
        </li>
    </f:for>
</ol>
</html>
