<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{section.isDonut}">
    <f:then>
        <div class="tx-analytics-traffic-sources-donut-layout">
            <div class="tx-analytics-traffic-sources-donut-chart">
                <f:format.raw>{section.chartSvg}</f:format.raw>
            </div>
            <ul class="tx-analytics-traffic-sources-list">
                <f:for each="{section.items}" as="item">
                    <li class="tx-analytics-traffic-sources-row tx-analytics-traffic-sources-row--compact tx-analytics-traffic-sources-tone-{item.tone}" data-ts-label="{item.label}" data-ts-value="{item.value}" data-ts-tone="{item.tone}" data-ts-count="{item.count}" data-ts-change="{item.change}" data-ts-change-tone="{item.changeTone}">
                        <span class="tx-analytics-traffic-sources-label">
                            <span class="tx-analytics-traffic-sources-square" aria-hidden="true"></span>
                            <span>{item.label}</span>
                        </span>
                        <span class="tx-analytics-traffic-sources-value">
                            <span>{item.value}%</span>
                            <f:if condition="{item.change}">
                                <span class="tx-analytics-traffic-sources-change tx-analytics-traffic-sources-change-{item.changeTone}" aria-label="vs. previous period">{item.change} <f:translate key="LLL:EXT:analytics/Resources/Private/Language/locallang.xlf:dashboardWidget.trafficSources.sessions" /></span>
                            </f:if>
                        </span>
                    </li>
                </f:for>
            </ul>
        </div>
    </f:then>
    <f:else>
        <ul class="tx-analytics-traffic-sources-list">
            <f:for each="{section.items}" as="item">
                <li class="tx-analytics-traffic-sources-row tx-analytics-traffic-sources-tone-{item.tone}" data-ts-label="{item.label}" data-ts-value="{item.value}" data-ts-tone="{item.tone}" data-ts-count="{item.count}" data-ts-change="{item.change}" data-ts-change-tone="{item.changeTone}">
                    <span class="tx-analytics-traffic-sources-label">
                        <f:if condition="{item.icon}">
                            <f:then>
                                <span class="tx-analytics-traffic-sources-device-icon tx-analytics-traffic-sources-icon-{item.icon}" aria-hidden="true"></span>
                            </f:then>
                            <f:else>
                                <span class="tx-analytics-traffic-sources-dot" aria-hidden="true"></span>
                            </f:else>
                        </f:if>
                        <span>{item.label}</span>
                    </span>
                    <typo3-backend-progress-bar class="tx-analytics-traffic-sources-bar" value="{item.value}" max="100"></typo3-backend-progress-bar>
                    <span class="tx-analytics-traffic-sources-value">
                        <span>{item.value}%</span>
                        <f:if condition="{item.change}">
                            <span class="tx-analytics-traffic-sources-change tx-analytics-traffic-sources-change-{item.changeTone}" aria-label="vs. previous period">{item.change} <f:translate key="LLL:EXT:analytics/Resources/Private/Language/locallang.xlf:dashboardWidget.trafficSources.sessions" /></span>
                        </f:if>
                    </span>
                </li>
            </f:for>
        </ul>
    </f:else>
</f:if>
</html>
