# Composer
/vendor/
/.Build/
composer.lock

# Generated / cache
/var/
/Documentation-GENERATED-temp/

# TYPO3
/public/
.php-cs-fixer.cache

# IDE
/.idea/

# DDEV
/.ddev/.gitignore
/.ddev/.*.yaml

# OS
.DS_Store
Thumbs.db
