<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Widget/Widget" />
<f:section name="main">

    <div class="tx-analytics-top-pages" data-site="{siteIdentifier}" data-days="{selectedDays}">
        <div class="tx-analytics-top-pages-header">
            <f:if condition="{showSiteSelect}">
                <div class="tx-analytics-top-pages-toolbar">
                    <label class="form-label tx-analytics-top-pages-site-label" for="{siteSelectId}">{siteLabel}</label>
                    <select id="{siteSelectId}" class="form-select form-select-sm tx-analytics-top-pages-site-select">
                        <f:for each="{siteOptions}" as="siteOption">
                            <f:if condition="{siteOption.selected}">
                                <f:then>
                                    <option value="{siteOption.value}" selected="selected">{siteOption.label}</option>
                                </f:then>
                                <f:else>
                                    <option value="{siteOption.value}">{siteOption.label}</option>
                                </f:else>
                            </f:if>
                        </f:for>
                    </select>
                </div>
            </f:if>
            <div class="tx-analytics-top-pages-toolbar">
                <label class="form-label tx-analytics-top-pages-period-label" for="{periodSelectId}">{periodLabel}</label>
                <select id="{periodSelectId}" class="form-select form-select-sm tx-analytics-top-pages-period-select">
                    <f:for each="{periodOptions}" as="periodOption">
                        <f:if condition="{periodOption.selected}">
                            <f:then>
                                <option value="{periodOption.value}" selected="selected">{periodOption.label}</option>
                            </f:then>
                            <f:else>
                                <option value="{periodOption.value}">{periodOption.label}</option>
                            </f:else>
                        </f:if>
                    </f:for>
                </select>
            </div>
            <div class="tx-analytics-top-pages-actions">
                <f:if condition="{showAllUrl}">
                    <f:then>
                        <a class="tx-analytics-top-pages-link" href="{showAllUrl}" target="_blank" rel="noreferrer" aria-label="{showAllLabel}">
                            <span>{showAllLabel}</span>
                            <span class="tx-analytics-top-pages-icon tx-analytics-top-pages-icon-arrow-up-right" aria-hidden="true"></span>
                        </a>
                    </f:then>
                    <f:else>
                        <a class="tx-analytics-top-pages-link tx-analytics-top-pages-link-disabled" href="#" aria-label="{showAllLabel}" aria-disabled="true">
                            <span>{showAllLabel}</span>
                            <span class="tx-analytics-top-pages-icon tx-analytics-top-pages-icon-arrow-up-right" aria-hidden="true"></span>
                        </a>
                    </f:else>
                </f:if>
            </div>
        </div>

        <div class="tx-analytics-top-pages-list-container">
            <f:render partial="Dashboard/Widget/TopPagesList" arguments="{pages: pages}" />
        </div>
    </div>

</f:section>
</html>
