<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:for each="{sections}" as="section">
    <section class="tx-analytics-traffic-sources-section" aria-label="{section.title}">
        <div class="tx-analytics-traffic-sources-section-header">
            <h3 class="tx-analytics-traffic-sources-heading">
                <span class="tx-analytics-traffic-sources-icon tx-analytics-traffic-sources-icon-{section.icon}" aria-hidden="true"></span>
                <span>{section.title}</span>
            </h3>
        </div>
        <f:render partial="Dashboard/Widget/TrafficSourcesSectionItems" arguments="{section: section}" />
    </section>
</f:for>
</html>
