<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Widget/Widget" />
<f:section name="main">

    <div class="tx-analytics-traffic-graph" data-site="{siteIdentifier}" data-days="{selectedDays}">
        <div class="tx-analytics-traffic-graph-header">
            <f:if condition="{showSiteSelect}">
                <div class="tx-analytics-traffic-graph-toolbar">
                    <label class="form-label tx-analytics-traffic-graph-site-label" for="{siteSelectId}">{siteLabel}</label>
                    <select id="{siteSelectId}" class="form-select form-select-sm tx-analytics-traffic-graph-site-select">
                        <f:for each="{siteOptions}" as="siteOption">
                            <f:if condition="{siteOption.selected}">
                                <f:then>
                                    <option value="{siteOption.value}" selected="selected">{siteOption.label}</option>
                                </f:then>
                                <f:else>
                                    <option value="{siteOption.value}">{siteOption.label}</option>
                                </f:else>
                            </f:if>
                        </f:for>
                    </select>
                </div>
            </f:if>
            <div class="tx-analytics-traffic-graph-toolbar">
                <label class="form-label tx-analytics-traffic-graph-period-label" for="{periodSelectId}">{periodLabel}</label>
                <select id="{periodSelectId}" class="form-select form-select-sm tx-analytics-traffic-graph-period-select">
                    <f:for each="{periodOptions}" as="periodOption">
                        <f:if condition="{periodOption.selected}">
                            <f:then>
                                <option value="{periodOption.value}" selected="selected">{periodOption.label}</option>
                            </f:then>
                            <f:else>
                                <option value="{periodOption.value}">{periodOption.label}</option>
                            </f:else>
                        </f:if>
                    </f:for>
                </select>
            </div>
        </div>

        <div class="tx-analytics-traffic-graph-chart-container">
            <f:render partial="Dashboard/Widget/TrafficGraphChart" arguments="{chart: chart}" />
        </div>
    </div>

</f:section>
<f:section name="footer">
    <f:if condition="{showAllUrl}">
        <a class="widget-cta" href="{showAllUrl}" aria-label="{showAllLabel}">
            {showAllLabel}
        </a>
    </f:if>
</f:section>
</html>
