<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Widget/Widget" />
<f:section name="main">

    <f:if condition="{noData}">
        <f:then>
            <f:render partial="Dashboard/Widget/NoDataAlert" arguments="{periodLabel: periodLabel}" />
        </f:then>
        <f:else>
            <div class="tx-analytics-traffic-graph">
                <f:render partial="Dashboard/Widget/TrafficGraphChart" arguments="{chart: chart}" />
            </div>
        </f:else>
    </f:if>

</f:section>
<f:section name="footer">
    <f:if condition="{showAllUrl}">
        <a class="widget-cta" href="{showAllUrl}" aria-label="{showAllLabel}">
            {showAllLabel}
        </a>
    </f:if>
</f:section>
</html>
